<div id="<%= dom_id friend %>" style="display: flex; flex-direction: row;">
  <p style='flex: 1 1 0px;align-self: center; margin-bottom: 3px;'>
    <strong>First name:  </strong>
    <%= friend.first_name %>
  </p>

  <p style='flex: 1 1 0px;align-self: center; margin-bottom: 3px;'>
    <strong>Last name:  </strong>
    <%= friend.last_name %>
  </p>

  <p style='flex: 1 1 0px;align-self: center; margin-bottom: 3px;'>
    <strong>Email:  </strong>
    <%= friend.email %>
  </p>

  <p style='flex: 1 1 0px;align-self: center; margin-bottom: 3px;'>
    <strong>Phone:  </strong>
    <%= friend.phone %>
  </p>

  <p style='flex: 1 1 0px;align-self: center; margin-bottom: 3px;'>
    <strong>Twitter:  </strong>
    <%= friend.twitter %>
  </p>

</div>
